Q1. Create one variable containing following type of data:

(i) string

(ii) list

(iii) float 

(iv) tuple

In [10]:
a= " I have to do this job "
b= [ 1,2,3, "sumit", 4.5 , 5+3j]
c= 5.85
d= (  1,2,3, "sumit", 4.5 , 5+3j )

print( type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

Q2. Given are some following variables containing data:

(i) var1 = ‘ ‘ 

(ii) var2 = ‘[ DS , ML , Python]’ 

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv) var4 = 1. What will be the data type of the above given variable.

In [9]:
var1 = ''
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1.
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

Q3. Explain the use of the following operators using an example: (i) / (ii) % (iii) // (iv) **

(i) ( Division  / ) :- Devides oprand on the left side of the oprator with the oprand on its right. The division oprator returns qoutient. 

eg :- 10/3
     3.3333333333333335
     
     
     

(ii) (Modulus  %  ) :- Devides oprand on the left side of the oprator with the oprand on its right. The modulus oprator returns the Remainder.

eg :- f =5%2 


(iii)  ( Floor Division //) :- In this oprand return qouteint ,also remove the digit after the  decimal point.

eg :- 13//2

       6 ( only provide value before the decimal point
       
       

(iv) ( Exponent ** ):- It performs exponential calculation , that is raised oprand on the right side to the operand on the left of the oprator.

eg :- 5**3

     125

In [6]:
e = 10/3
f = 5%2
g = 13//2
h = 5**3
print(e)
print(f)
print(g)
print(h)

3.3333333333333335
1
6
125

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [5]:
k = [1,2,3," roapway devalopment ",5.8, 9+4j,2.5,"shivam" "Data science ",4+9j, True]
for i in k:
    print(i,type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
 roapway devalopment  <class 'str'>
5.8 <class 'float'>
(9+4j) <class 'complex'>
2.5 <class 'float'>
shivamData science  <class 'str'>
(4+9j) <class 'complex'>
True <class 'bool'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [ ]:
number = int(input("Enter the number: "))
divisor = int(input("Enter the divisor: "))
count = 0

while number % divisor == 0:
    number /= divisor
    count += 1

if count > 0:
    print("The number",number, "is divisible by", divisor, count, "times.")
else:
    print("The number",number, "is not divisible by", divisor)

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
divisible by 3 or not.

In [7]:
s=[num for num in range(20,50)]
print(s)

[20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [11]:
u=[20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]
for r in u:
    if r % 3 ==0:
        print(r,"is divisible by",3)
    else:
        print(r,("not divisible by",3))

20 ('not divisible by', 3)
21 is divisible by 3
22 ('not divisible by', 3)
23 ('not divisible by', 3)
24 is divisible by 3
25 ('not divisible by', 3)
26 ('not divisible by', 3)
27 is divisible by 3
28 ('not divisible by', 3)
29 ('not divisible by', 3)
30 is divisible by 3
31 ('not divisible by', 3)
32 ('not divisible by', 3)
33 is divisible by 3
34 ('not divisible by', 3)
35 ('not divisible by', 3)
36 is divisible by 3
37 ('not divisible by', 3)
38 ('not divisible by', 3)
39 is divisible by 3
40 ('not divisible by', 3)
41 ('not divisible by', 3)
42 is divisible by 3
43 ('not divisible by', 3)
44 ('not divisible by', 3)
45 is divisible by 3
46 ('not divisible by', 3)
47 ('not divisible by', 3)
48 is divisible by 3
49 ('not divisible by', 3)

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Mutable --- Where we can change or replace the data in index ( applicable only list)

In [8]:
y = [5,6,8,19,"sumit",8+9j ,True, 58.6]
type(y)
list
y[4]
'sumit'
y[4]= "jitender arya"
print(y)

[5, 6, 8, 19, 'jitender arya', (8+9j), True, 58.6]

Inmutable-- where  we can't change or replace the data in index ( like string or int )

In [ ]:
t='raju'
t[1]
'a'
t[1]=i

NameError: name 'i' is not defined